{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur ProStage </h1>
    </br>
    <h3>
        Voici les stages proposés :
    </h3>

    {% for stageCourant in listeStages %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> {{stageCourant.titre}} </h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{stageCourant.entreprise.nom}} </h6>
                    </br>
                    <p class="card-text">{{stageCourant.string}}</p></i>
                    <div align="right">
                        <a href="{{ path('stages',{id:stageCourant.id}) }}" class="card-link">En savoir plus</a>
                    </div>
                </div>
            </div>
    {% endfor %}
{% endblock %}