{% extends 'base.html.twig' %}
{% block body %}
   
    <h3>
        Voici les stages proposés pour la formation : {{formation.nomLong}} 
    </h3>
    </br>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                {% for stageCourant in listeStages %}
                    <div class="col-md-4">
                        <div class="card bg-default" style="margin-bottom: 25px">
                            <h5 class="card-header">
                                {{stageCourant.titre}}
                            </h5>
                            <div class="card-body">
                                <p class="card-text">
                                    {{stageCourant.string}}
                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="{{ path('stages',{id:stageCourant.id}) }}" class="card-link">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                {% if loop.index % 3 == 0 %}
                <br>
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>

    

{% endblock %}