{% extends 'base.html.twig' %}

{% block body %}

<h1> {{leStage.titre}} </h1>
<h2> Entreprise : {{leStage.entreprise.nom}} </h2>
<p> Description du poste : {{leStage.string}} </p>
<a href={{leStage.entreprise.siteWeb}}>site web de l'entreprise</a>
{% endblock %}